body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/dark-honeycomb.png");
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#container
{
		background-color: #a7b2d1;
		width: 300px;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		-webkit-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		border-radius: 20px 20px 20px 20px;
		border: 5px solid #111f66;
}

#containerE
{
		background-color: #a7b2d1;
		width: 400px;
		padding: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		-webkit-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		border-radius: 20px 20px 20px 20px;
		border: 5px solid #111f66;
}

#containerB
{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
}

h1.logging
{
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		color: #52504b;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow:
		1px 1px 0 #33402a,
		-1px 1px 0 #33402a,
		-1px -1px 0 #33402a,
		1px -1px 0 #33402a;
}

h1.registration
{
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		color: #52504b;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow:
		1px 1px 0 #33402a,
		-1px 1px 0 #33402a,
		-1px -1px 0 #33402a,
		1px -1px 0 #33402a;
}

h1.menu
{
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		color: #52504b;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow:
		1px 1px 0 #33402a,
		-1px 1px 0 #33402a,
		-1px -1px 0 #33402a,
		1px -1px 0 #33402a;
}

h1.expenses
{
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		color: #52504b;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow:
		1px 1px 0 #33402a,
		-1px 1px 0 #33402a,
		-1px -1px 0 #33402a,
		1px -1px 0 #33402a;
}

h1.balance
{
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		color: #52504b;
		letter-spacing: 1px;
		font-weight: 400;
		text-shadow:
		1px 1px 0 #33402a,
		-1px 1px 0 #33402a,
		-1px -1px 0 #33402a,
		1px -1px 0 #33402a;
}

input[type=text],
input[type=password],
input[type=e-mail]
{
		width: 300px;
		background-color: #efefef;
		color: #666;
		border: 2px solid #ddd;
		border-radius: 5px;
		font-size: 20px;
		padding: 10px;
		box-sizing: border-box;
		outline: none;
		margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=e-mail]:focus
{
		-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		border: 2px solid #a5cda5;
		background-color: #e9f3e9;
		color: #428c42;
}

input[type=submit]
{
		width: 300px;
		background-color: #163db3;
		color: white;
		border-radius: 5px;
		font-size: 18px;
		padding: 15px 10px;
		margin-top: 10px;
		cursor: pointer;
		letter-spacing: 2px;
		outline: none;
		margin-top: 20px;
}

input[type=submit]:focus
{
		-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
		box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
		background-color: #37b93d;
}

.info
{
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		color: #52504b;
		padding-top: 20px;
}

a
{
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-weight: 700px;
		color: #000000;
		padding-left: 10px;
		padding-top: 20px;
}

a:hover
{
		color: #1b750d;
		cursor: pointer;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

.expense
{
	margin-top: 10px;
}

input[type=date],
input[type=number]
{
	background-color: #e0d5e0;
	width: 50%;
	height: 40px;
	color: #000000;
	border: 1px solid #999999;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	/* wylaczenie domyslnej obwodki*/
	outline: none;
}

label
{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #52504b;
	letter-spacing: 1px;
	font-weight: 700;
}

.select-css
{
	background-color: #e0d5e0;
	font-size: 20px;
	color: #000000;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #999999;
	border-radius: 10px;
	height: 40px;
	text-align: center;
	
}

.select-css:focus
{
	border-radius: 0;
	background-color: #9ab3ff;
	outline: none;
}

.select-css option
{
	font-size: 14px;
	color: #000000;
	padding: 5px;
}

textarea
{
	background-color: #e0d5e0;
	color: #000000;
	width: 100%;
	border: 1px solid #999999;
	border-radius: 10px;
	font-size: 15px;
	resize: none;
}

textarea:focus
{
	border: 2px solid #0066ff;
	background-color: #9ab3ff;
	color: #000000;
	outline: none;
}

input[type=button]
{
	width: 200px;
	background-color: #0000b3;
	font-size: 15px;
	color: white;
	/*margin-left: 50px;*/
	padding: 10px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-top: 15px;
}
.expense-buttons
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.expense-buttons input[type=button]
{
	margin: 0;
	width: 120px;
	margin-top: 15px;
}

input[type=button]:hover
{
		background-color: #37b93d;
}

.square
{
		width: 300px;
		float: left;
		background-color: #a7b2d1;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		-webkit-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 10px 0px rgba(204,204,204,0.9);
		border-radius: 20px 20px 20px 20px;
		border: 5px solid #111f66;
		text-align: justify;
}

ul
{
	padding: 0;
	list-style-type: none;
}

ul > li
{
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
}

ul a
{
	text-decoration: none;
	color: black;
}

ul a:hover
{
	color: blue;
}

p
{
	font-size: 32px;
	color: #52504b;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow:
	1px 1px 0 #33402a,
	-1px 1px 0 #33402a,
	-1px -1px 0 #33402a,
	1px -1px 0 #33402a;
}